.btn-green {
    background-color: green;
    color: white;
    padding: 32px 84px; /* aumentar o tamanho do botão */
    border-radius: 4px;
    text-decoration: none;
    width: 150px; /* definir a largura dos botões */
    font-size: 150%;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 15% 0 0 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0; /* remover a margem direita do último botão */
  }
.titulo{
    color: green;
}
.appname{
    font-size: 400%;
    font-weight: bold;
    color: green;
    text-align: center;
    margin-bottom: 20px;
}
.pagename{
    font-size: 100%;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}