.btn-green {
  background-color: green;
  color: white;
  padding: 30px 50px; /* aumentar o tamanho do botão conforme necessário */
  border-radius: 4px;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
  margin: 20px; /* adicionar margem entre os botões */
}

.btn-green:hover {
  color: rgb(175, 177, 241); /* altere a cor desejada aqui */
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 15% 0 0 0;
  padding: 0;
}

nav li {
  margin-right: 40px; /* aumentar a margem entre os botões */
}

nav li:last-child {
  margin-right: 0; /* remover a margem direita do último botão */
}

.titulo {
  color: green;
}

.appname {
  font-size: 4em;
  font-weight: bold;
  color: green;
  text-align: center;
  margin-bottom: 20px;
}

.pagename {
  font-size: 1em;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}
