.custom-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #4caf50;
  transition: color 0.3s;
}

.custom-button:hover {
  color: #66bb6a;
}






.formqtd{
    width: 50px;
    height: 25px;
}



.form{
    display: flex;
}

.pedido-mesa-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  
  .pedido-details {
    flex-grow: 1;
  }
  
  .pedido-nome {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .pedido-preco {
    font-size: 14px;
    color: #777;
  }
  
  .pedido-controls {
    display: flex;
    align-items: center;
  }
  
  .formqtd {
    width: 50px;
    height: 25px;
  }

  
  .pedido-confirmation {
    color: green;
    margin-top: 5px;
  }