  .cardapio {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .categoria {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .nome {
    font-weight: bold;
    margin-right: 10px;
    text-decoration: underline;
  }
  
  .valor {
    font-style: italic;
    text-decoration: underline;
  }
  
