
.mesa {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
   background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: 10px solid #4caf50;
    cursor: pointer;
    
  }




  .livre {
    background-color: #ffffff;
    border: 10px solid green;
  }
  

  .ocupada{
    background-color: #ffffff;
    border: 10px solid #f44336;
    
  }
  
  .ocupada:hover {
    background-color: #f44336;
  }
  
  .livre:hover {
    background-color:green;
  }

